body {
    margin: 0;
    padding: 0;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
}

.information {
    flex: auto;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    overflow: auto;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.traffic {
    flex: none;
    background: rgb(255, 255, 255, 0.8);
    margin-right: 20px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

h2,
h3 {
    margin: 10px;
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.85em;
    margin: 10px;
    text-align: left;
}